body {
    background-image: url(../assets/images/streak.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    padding-bottom: 200px;
  }
 
 .hero-title {
   color: white;
   font-size: 3em;
   text-align: center;
 }

 .chat-rooms {
     left: 0%;
     width: 15%;
     background: #3B5998;
     position: fixed;
     height: 100%;
     color: white;
     text-align: left;
     border-radius: 15px;
 }
 
 .hr {
   padding-top: 5px;
   margin-top: 10px;
   border-top: 3px solid #B6A754;
 }

.button {
    background-color: #77BA9B;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
}

.column fourth {
    background-color: #639BF1;
}

.chat-screen {
   margin-left: 10%;
   width: 65%;
   height: 80%;
   background-color: white;
   color: grey;
   padding-left: 50px;
   padding-right: 50px;
   padding-bottom: 50px;
   opacity: 0.75;
 }

 .hr-grey {
   padding-top: 5px;
   margin-top: 10px;
 	border-top: 3px solid grey;
 }
 
 .chat-heading {
   padding-top: 20px;
 }
 
 .input-group {
   padding-top: 10px;
 }

 .messages {
   margin-top: 10px;
 }

.rooms:hover {
    color: lightgrey;
    cursor: pointer;
    text-decoration: underline;
}