<div class="new-user">
    <div class="modal-header">
        <h3 class="modal-title text-center">Add Chat Room</h3>
    </div>
    <div class="modal-body">
        <div class="form-group modal-input">
            <label for="newRoomInput">Name Your Room:</label>
            <input id="newRoomInput" type="text" ng-model="text">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-disabled="text === ''" ng-click="ok()">Create Room</button>
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>
